DNA/pkgs/Wadl/2Div-BugReportToDevOps.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://canada-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="2Div-BugReportToDevOps" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="2Div-BugReportToDevOps" />
  <grammars>
    <jsonTypes targetNamespace="https://canada-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Initializevariable-varTitle_Value_def" />
      <string name="ManualTriggerInput_Initializevariable-varDesc_Value_def" />
      <string name="ManualTriggerInput_Initializevariable-varEmail_Value_def" />
      <string name="ManualTriggerInput_Initializevariable-varRepro_Value_def" />
      <string name="ManualTriggerInput_Initializevariable-varTags_Value_def" />
      <object name="ManualTriggerInput">
        <property name="Initializevariable-varTitle_Value" type="string" />
        <property name="Initializevariable-varDesc_Value" type="string" />
        <property name="Initializevariable-varEmail_Value" type="string" />
        <property name="Initializevariable-varRepro_Value" type="string" />
        <property name="Initializevariable-varTags_Value" type="string" />
      </object>
      <string name="ResponseActionOutput_vartitle_def" />
      <string name="ResponseActionOutput_vardesc_def" />
      <string name="ResponseActionOutput_varemail_def" />
      <string name="ResponseActionOutput_varrepro_def" />
      <string name="ResponseActionOutput_vartags_def" />
      <object name="ResponseActionOutput">
        <property name="vartitle" type="string" />
        <property name="vardesc" type="string" />
        <property name="varemail" type="string" />
        <property name="varrepro" type="string" />
        <property name="vartags" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://canada-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Initializevariable-varTitle_Value" path="/Initializevariable-varTitle_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable-varDesc_Value" path="/Initializevariable-varDesc_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable-varEmail_Value" path="/Initializevariable-varEmail_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable-varRepro_Value" path="/Initializevariable-varRepro_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable-varTags_Value" path="/Initializevariable-varTags_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>