DNA/pkgs/Wadl/CanvasApp_TaskingSendMobile%2bEmailNotification_1.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://canada-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="CanvasApp_TaskingSendMobile+EmailNotification" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="CanvasApp_Tasking Send Mobile + Email Notification" />
  <grammars>
    <jsonTypes targetNamespace="https://canada-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <boolean name="ManualTriggerInput_taskingaccepted_Value_def" />
      <string name="ManualTriggerInput_taskingstartdate_Value_def" />
      <string name="ManualTriggerInput_taskingenddate_Value_def" />
      <string name="ManualTriggerInput_taskingOPI_Value_def" />
      <string name="ManualTriggerInput_taskingOPIContact_Value_def" />
      <string name="ManualTriggerInput_taskingUserEmail_Value_def" />
      <string name="ManualTriggerInput_taskingName_Value_def" />
      <object name="ManualTriggerInput">
        <property name="taskingaccepted_Value" type="boolean" />
        <property name="taskingstartdate_Value" type="string" />
        <property name="taskingenddate_Value" type="string" />
        <property name="taskingOPI_Value" type="string" />
        <property name="taskingOPIContact_Value" type="string" />
        <property name="taskingUserEmail_Value" type="string" />
        <property name="taskingName_Value" type="string" />
      </object>
      <boolean name="ResponseActionOutput_taskingaccepted_def" />
      <string name="ResponseActionOutput_taskingstartdate_def" />
      <string name="ResponseActionOutput_taskingenddate_def" />
      <string name="ResponseActionOutput_taskingopi_def" />
      <string name="ResponseActionOutput_taskingopicontact_def" />
      <string name="ResponseActionOutput_taskinguseremail_def" />
      <string name="ResponseActionOutput_taskingname_def" />
      <object name="ResponseActionOutput">
        <property name="taskingaccepted" type="boolean" />
        <property name="taskingstartdate" type="string" />
        <property name="taskingenddate" type="string" />
        <property name="taskingopi" type="string" />
        <property name="taskingopicontact" type="string" />
        <property name="taskinguseremail" type="string" />
        <property name="taskingname" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://canada-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="taskingaccepted_Value" path="/taskingaccepted_Value" type="xs:boolean" required="true" />
            <param style="plain" name="taskingstartdate_Value" path="/taskingstartdate_Value" type="xs:string" required="true" />
            <param style="plain" name="taskingenddate_Value" path="/taskingenddate_Value" type="xs:string" required="true" />
            <param style="plain" name="taskingOPI_Value" path="/taskingOPI_Value" type="xs:string" required="true" />
            <param style="plain" name="taskingOPIContact_Value" path="/taskingOPIContact_Value" type="xs:string" required="true" />
            <param style="plain" name="taskingUserEmail_Value" path="/taskingUserEmail_Value" type="xs:string" required="true" />
            <param style="plain" name="taskingName_Value" path="/taskingName_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>