DNA/pkgs/Wadl/CanvasApp_CourseSendMobile%2bEmailNotification_1.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://canada-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="CanvasApp_CourseSendMobile+EmailNotification" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="CanvasApp_Course Send Mobile + Email Notification" />
  <grammars>
    <jsonTypes targetNamespace="https://canada-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <boolean name="ManualTriggerInput_initCourseIsAccepted_Value_def" />
      <string name="ManualTriggerInput_initCourseName_Value_def" />
      <string name="ManualTriggerInput_initCourseStartDate_Value_def" />
      <string name="ManualTriggerInput_initCourseEndDate_Value_def" />
      <string name="ManualTriggerInput_initCourseFinalApplicationDate_Value_def" />
      <string name="ManualTriggerInput_initCourseTrainingDays_Value_def" />
      <string name="ManualTriggerInput_initCourseTrainingDuration_Value_def" />
      <string name="ManualTriggerInput_initCourseOPIName_Value_def" />
      <string name="ManualTriggerInput_initCourseOPIContact_Value_def" />
      <string name="ManualTriggerInput_initCourseHostingUnit_Value_def" />
      <string name="ManualTriggerInput_initCourseUserEmail_Value_def" />
      <object name="ManualTriggerInput">
        <property name="initCourseIsAccepted_Value" type="boolean" />
        <property name="initCourseName_Value" type="string" />
        <property name="initCourseStartDate_Value" type="string" />
        <property name="initCourseEndDate_Value" type="string" />
        <property name="initCourseFinalApplicationDate_Value" type="string" />
        <property name="initCourseTrainingDays_Value" type="string" />
        <property name="initCourseTrainingDuration_Value" type="string" />
        <property name="initCourseOPIName_Value" type="string" />
        <property name="initCourseOPIContact_Value" type="string" />
        <property name="initCourseHostingUnit_Value" type="string" />
        <property name="initCourseUserEmail_Value" type="string" />
      </object>
      <boolean name="ResponseActionOutput_courseiseaccepted_def" />
      <string name="ResponseActionOutput_coursename_def" />
      <string name="ResponseActionOutput_coursestartdate_def" />
      <string name="ResponseActionOutput_courseenddate_def" />
      <string name="ResponseActionOutput_coursefinalapplicationdate_def" />
      <string name="ResponseActionOutput_coursetrainingdays_def" />
      <string name="ResponseActionOutput_coursetrainingduration_def" />
      <string name="ResponseActionOutput_courseopiname_def" />
      <string name="ResponseActionOutput_courseopicontact_def" />
      <string name="ResponseActionOutput_coursehostingunit_def" />
      <string name="ResponseActionOutput_courseuseremail_def" />
      <object name="ResponseActionOutput">
        <property name="courseiseaccepted" type="boolean" />
        <property name="coursename" type="string" />
        <property name="coursestartdate" type="string" />
        <property name="courseenddate" type="string" />
        <property name="coursefinalapplicationdate" type="string" />
        <property name="coursetrainingdays" type="string" />
        <property name="coursetrainingduration" type="string" />
        <property name="courseopiname" type="string" />
        <property name="courseopicontact" type="string" />
        <property name="coursehostingunit" type="string" />
        <property name="courseuseremail" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://canada-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="initCourseIsAccepted_Value" path="/initCourseIsAccepted_Value" type="xs:boolean" required="true" />
            <param style="plain" name="initCourseName_Value" path="/initCourseName_Value" type="xs:string" required="true" />
            <param style="plain" name="initCourseStartDate_Value" path="/initCourseStartDate_Value" type="xs:string" required="true" />
            <param style="plain" name="initCourseEndDate_Value" path="/initCourseEndDate_Value" type="xs:string" required="true" />
            <param style="plain" name="initCourseFinalApplicationDate_Value" path="/initCourseFinalApplicationDate_Value" type="xs:string" required="true" />
            <param style="plain" name="initCourseTrainingDays_Value" path="/initCourseTrainingDays_Value" type="xs:string" required="true" />
            <param style="plain" name="initCourseTrainingDuration_Value" path="/initCourseTrainingDuration_Value" type="xs:string" required="true" />
            <param style="plain" name="initCourseOPIName_Value" path="/initCourseOPIName_Value" type="xs:string" required="true" />
            <param style="plain" name="initCourseOPIContact_Value" path="/initCourseOPIContact_Value" type="xs:string" required="true" />
            <param style="plain" name="initCourseHostingUnit_Value" path="/initCourseHostingUnit_Value" type="xs:string" required="true" />
            <param style="plain" name="initCourseUserEmail_Value" path="/initCourseUserEmail_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>